# Visual Studio

.vs/
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.pch

# Binaries

bin/
bin-int/

# Cosmic files

**.log

# Optick profiling sessions
Profiling/

.cache/
Makefile
compile_commands.json
